*{
	font-size: 100%;
	font-family: times new roman, serif;
}
body{
	background-attachment: scroll;
	margin: 0;
  background-color: beige;
}

footer a img{
  width: 50px;
}

.skew:hover{
  transform: skew(30deg);
  cursor: pointer;
}
h2{
  animation-name: ;
  animation-duration: 5seg;  
  background-color: orange;
}
legend h3 {
  text-align: center;
}
article p {
  text-align: center;
  line-height: 2;
font-weight: 100;
font-size: 1rem;
}
article h2{
  text-align: center;
}
article{
  align-content: center;
  justify-items: center;
}
div{
  display: flex;
  align-content: center;
}
section fieldset img{
  width: 25%;
  margin: 25px;
  border-radius: 10%;

}
section fieldset{
  border: solid;
  color: black;
    font-weight: 300; 
  line-height: 5rem;
  margin: 30px;
}
div ul li a{
color: black;
font-weight: 300%;
font-size: 30px;
line-height: 4rem;
margin: 10px;
}
.carousel-inner{
  width: 95%;
  align-content: center;
  align-items: center;
  justify-content: ;
}