section div figure img {
  width: 150px;
  height: auto !important; }

.flex {
  display: flex;
  padding: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

figcaption {
  line-height: 2;
  font-weight: 100;
  font-size: 1.2rem;
  color: black;
  text-emphasis: center; }

* {
  font-size: 100%;
  font-family: times new roman, serif; }
  * body {
    background-attachment: scroll;
    background-image: url("../imagen/bg/bggral.png");
    background-size: cover;
    padding: 10px; }

.titulo {
  font-size: 2em;
  line-height: 1em;
  color: black;
  padding: 3px;
  text-align: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  display: flex;
  padding: 10px; }

section fieldset {
  color: black;
  font-weight: 300;
  line-height: 5rem;
  margin: 30px; }

div ul li a {
  color: black;
  font-weight: 300%;
  font-size: 40px;
  line-height: 5rem;
  margin: 20px; }

main {
  border: solid;
  padding: 10px;
  border-radius: 10%; }

ul {
  border: double;
  top: 5%; }

nav div a img {
  width: 45%; }

article {
  align-content: center;
  justify-items: center; }
  article p {
    text-align: center;
    line-height: 2;
    font-weight: 100;
    font-size: 1.2rem;
    color: black; }

div {
  display: flex;
  align-content: center;
  padding: 10px; }

footer a img {
  width: 50px; }

section fieldset img {
  width: 25%;
  margin: 25px;
  border-radius: 10%; }

.carousel-inner {
  align-content: center;
  align-items: center; }
