*{
  box-sizing: border-box;
}
 .row{
  display: flex;
  padding: 10px;
flex-wrap: wrap;
 }
 .column{
  flex: 25%;
  margin-top: 10px;
 }
 .column .img{
  margin-top: 10px
 }

 @media (max-width: 800px){
  .column{
    flex:50%;
  }
 }

 @media (max-width: 600px){
  .column{
    flex:100%;
  }
 }
 main section div div{
  border-style: inset;
  border-radius: 15px;
 } 