
.contenedor .form .form-header .form-title{
  font-weight: normal;
  font-family: sans-serif;
  color: black;
  padding: 14px 0;
  justify-content: center;
  align-items:center;
}
.contenedor .form-title{
  text-decoration: underline;
}
.contenedor .form{
  
  width: 80%;
  max-width: 650px;
  margin: auto;
  padding: 5 px 30px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 5px;
}

.contenedor .form .form-label{
  display: block;
  color: black;
  font-size: 1.2em;
  font-family: roboto;
  position: relative;
  line-height: 2;
}
.contenedor .form .form-input .form-textarea{
  background: white;
  border-bottom: 2px solid black;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  font-family: roboto;
}
main section div div form fieldset div{
  border-style: none;
  border-radius: 15px;
}

