.carousel-inner{
  
  align-content: center;
  align-items: center;
}
.carousel-inner img {
    width: 200%;
    max-height: 600px;
}

.carousel-indicators{
  transition: opacity .2s ease;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.col-md{
   justify-content: center;
      align-items: center;
}

div{
  section{
    div{
      img{
        width: 300px;
      }
    }
  }
}

 div{
  display: flex;
  align-content: center;
  padding: 25px;
}